*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html{
    height: 100vh;
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    font-style: normal;
}
main{
    flex: 1;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
}