$primary-blue: #444CFC;
$light-orange: #FFE6D2;
$dark-orange: #FFA155;
$text-color: #232536;
$secondary-blue: #666DFF;
$white-bg: #fff;
$blue-bg: #ECF8F9;
$gray-bg: #F9F9FF;
$dark-bg:#232536;
$white-text: #fff;     