@import './variables';

.services {
      padding: 96px 0;
      background-color: $light-orange;

      &-content {
            display: flex;
            align-items: center;
            justify-content: space-between;

            small {
                  text-transform: uppercase;
                  color: #000;
                  font-size: 14px;
                  font-weight: 500;
                  line-height: 20px;
                  letter-spacing: 3px;
            }

            h1 {
                  color: $text-color;
                  font-size: 48px;
                  font-weight: 600;
                  line-height: 58px;
                  margin: 12px 0 40px 0;
                  max-width: 777px;
            }

            a.site-btn {
                  margin-bottom: 80px;
                  display: inline-flex;
            }

      }

      &-right {
            display: flex;
            flex-direction: column;
            gap: 16px;

            li {
                  a {
                        display: flex;
                        align-items: center;
                        gap: 16px;
                        color: $text-color;
                        font-size: 24px;
                        font-weight: 600;
                        line-height: 36px;
                  }
            }
      }
}

.process {
      padding: 96px 0;
      background-color: $gray-bg;

      &-content {
            position: relative;

            small {
                  color: #000;
                  font-size: 14px;
                  font-weight: 500;
                  line-height: 20px;
                  letter-spacing: 3px;
                  text-transform: uppercase;
            }

            img.shape-bg {
                  top: 0;
                  right: 0;
                  transform: rotate(90deg);
                  position: absolute;
            }

            h1 {
                  margin: 16px 0;
                  max-width: 733px;
                  color: $text-color;
                  font-size: 48px;
                  font-weight: 600;
                  line-height: 58px;
            }

            p {
                  max-width: 642px;
                  color: $text-color;
                  opacity: 0.8;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 24px;
            }

            .cards {
                  margin-top: 68px;
                  display: grid;
                  gap: 48px;
                  position: relative;
                  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));

                  img.bg-shape {
                        position: absolute;
                        top: 89px;
                        left: 394px;
                  }

                  .item {
                        padding: 32px 10px 28px 32px;
                        position: relative;
                        display: flex;
                        align-items: flex-start;
                        gap: 16px;
                        border: 1px solid rgba(35, 37, 54, 0.17);

                        img.shape {
                              position: absolute;
                              transform: rotate(180deg);
                              width: 100%;

                        }

                        .shape.first {
                              bottom: 0;
                              left: 0;
                        }

                        .shape.last {
                              top: 0;
                              left: 0;
                        }

                        span {
                              position: absolute;
                              top: 12px;
                              right: 16px;
                              color: $text-color;
                              font-size: 24px;
                              opacity: 0.2;
                              font-weight: 600;
                              line-height: 32px;
                        }

                        .img {
                              width: 47px;
                              height: 47px;
                              border-radius: 50%;
                              background-color: rgba(255, 211, 175, 0.17);
                              display: grid;
                              place-content: center;

                        }

                        .text {
                              max-width: 289px;

                              h2 {
                                    color: #000;
                                    font-size: 16px;
                                    font-weight: 600;
                                    line-height: 28px;
                                    margin-bottom: 6px;
                              }

                              p {
                                    opacity: 0.6;
                                    color: $text-color;
                                    font-size: 16px;
                                    font-weight: 400;
                                    line-height: 24px;
                              }
                        }
                  }
            }
      }
}

.support {
      padding: 0 0 96px 0;

      &-content {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
      }

      &-left {
            max-width: 624px;
            margin-bottom: 64px;

            h2 {
                  color: #000;
                  font-size: 24px;
                  font-weight: 600;
                  line-height: 36px;
                  margin-bottom: 16px;
            }

            h1 {
                  color: $text-color;
                  font-size: 36px;
                  font-weight: 600;
                  line-height: 54px;
                  margin-bottom: 24px;
            }

            p {
                  opacity: 0.6;
                  color: $text-color;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 24px;
            }
      }

      &-right {
            width: 516px;
            height: 539px;
            img{
                  width: inherit;
                  height: inherit;
            }
      }
}
.development {
      padding: 0 0 96px 0;
      background-color: $blue-bg;

      &-content {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
      }

      &-right {
            max-width: 624px;
            margin-bottom: 64px;
            h2 {
                  color: #000;
                  font-size: 24px;
                  font-weight: 600;
                  line-height: 36px;
                  margin-bottom: 16px;
            }

            h1 {
                  color: $text-color;
                  font-size: 36px;
                  font-weight: 600;
                  line-height: 54px;
                  margin-bottom: 24px;
            }

            p {
                  opacity: 0.6;
                  color: $text-color;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 24px;
            }
      }

      &-left{
            width: 516px;
            height: 539px;
            img{
                  width: inherit;
                  height: inherit;
            }
      }
}
.aws {
      padding: 0 0 96px 0;

      &-content {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
      }

      &-left {
            max-width: 624px;
            margin-bottom: 64px;
            h2 {
                  color: #000;
                  font-size: 24px;
                  font-weight: 600;
                  line-height: 36px;
                  margin-bottom: 16px;
            }

            h1 {
                  color: $text-color;
                  font-size: 36px;
                  font-weight: 600;
                  line-height: 54px;
                  margin-bottom: 24px;
            }

            p {
                  opacity: 0.6;
                  color: $text-color;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 24px;
            }
      }

      &-right {
            width: 516px;
            height: 539px;
            img{
                  width: inherit;
                  height: inherit;
            }
      }
}
.consulting {
      padding: 0 0 96px 0;
      background-color: $gray-bg;

      &-content {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
      }

      &-right {
            max-width: 624px;
            margin-bottom: 64px;
            h2 {
                  color: #000;
                  font-size: 24px;
                  font-weight: 600;
                  line-height: 36px;
                  margin-bottom: 16px;
            }

            h1 {
                  color: $text-color;
                  font-size: 36px;
                  font-weight: 600;
                  line-height: 54px;
                  margin-bottom: 24px;
            }

            p {
                  opacity: 0.6;
                  color: $text-color;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 24px;
            }
      }

      &-left{
            width: 516px;
            height: 539px;
            img{
                  width: inherit;
                  height: inherit;
            }
      }
}
.information {

      &-content {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
      }

      &-left {
            max-width: 624px;
            margin-bottom: 64px;
            h2 {
                  color: #000;
                  font-size: 24px;
                  font-weight: 600;
                  line-height: 36px;
                  margin-bottom: 16px;
            }

            h1 {
                  color: $text-color;
                  font-size: 36px;
                  font-weight: 600;
                  line-height: 54px;
                  margin-bottom: 24px;
            }

            p {
                  opacity: 0.6;
                  color: $text-color;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 24px;
            }
      }

      &-right {
            width: 516px;
            height: 539px;
            img{
                  width: inherit;
                  height: inherit;
            }
      }
}
.subscribe {
      padding: 167px 0 94px 0;

      .subscribe_content {
            display: flex;
            gap: 122px;
            width: 1256px;
            height: 333px;
            flex-shrink: 0;
            background-color: #666DFF;
            align-items: center;
            justify-content: center;
            position: relative;

            .subscribe_left {
                  max-width: 488px;

                  img {
                        position: absolute;
                        left: 0;
                        top: 0;
                  }

                  h6 {
                        color: #FFF;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 20px;
                        letter-spacing: 3px;
                        text-transform: uppercase;
                  }

                  h1 {
                        color: #FFF;
                        font-size: 36px;
                        font-weight: 600;
                        line-height: 54px;
                  }
            }

            .subscribe_right {
                  display: flex;

                  form {
                        input {
                              padding: 20px 262px 20px 29px;
                              border: 0;
                              outline: 0;
                        }

                        input::placeholder {
                              color: $text-color;
                              text-align: right;
                              font-size: 16px;
                              font-weight: 500;
                              line-height: 24px;
                              opacity: 0.4;
                        }
                  }

                  img {
                        position: absolute;
                        right: 0;
                        top: 0;
                  }
            }

      }
}